body{
    background-color: coral;
}

#titre{
    text-align: center;
    margin-bottom: 10px;
}

#consignes{
    text-align: center;
    font-size: 1.5em;
}

#course{
    text-align: center;
    height: 177px;
    display: none;
}

#route{
    border-radius: 50px;
    position: relative;
    z-index: 0;
}

.finish{
    transform: rotate(360deg);
    opacity: 0;
    transition: transform 5s, opacity 5s;
}

#laitue{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

#snail{
    width: 100px;
    height: 93px;
    transform: scaleX(-1);
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

#grille_lettre{
    margin-top: 10px;
    text-align: center;
    display: none;
}

#grille{
    margin: 0 auto;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
}

.ligne-lettre{
    display: flex;
}

.lettre{
    font-size: 30px;
    overflow-wrap: break-word;
}

.lettre:hover{
    font-size: 28px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    background-color: greenyellow;
}

.selected{
    background-color: green;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    transition: background-color 0.5s, transform 2s, font-size 2s;
    transform: rotate(720deg);
    font-size: 100px;
    position: absolute;
    z-index: 4;
}

.selected:hover{
    background-color: green;
    font-size: 100px;
}

.error{
    background-color: red;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    transition: background-color 0.5s;
}

.error:hover{
    font-size: 28px;
    background-color: red;
}

#debut{
    text-align: center;
    margin-top: 10px;
}

#btn-debut{
    font-size: 1.2em;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}

#success{
    transition: display 5s;
    text-align: center;
    font-size: 5em;
    display: none;
}


