body{
    background-color: darkseagreen;
    user-select:none;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    margin-bottom: -1rem;
}

#prenom{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.5em;
}

#cadre-lettre{
    display: block;
    margin: 0 auto;
    background-color: greenyellow;
    border-radius: 10px;
    max-width: 400px;
}

#grille-lettre{
    padding: 15px;
}

.ligne-lettre{
    display: flex;
}

.lettre{
    font-size: 35px;
    text-align: center;
    overflow-wrap: break-word;
}

.lettre:hover{
    font-size: 33px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    background-color: greenyellow;
}

.selected{
    background-color: green;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    transition: background-color 0.5s;
}

.selected:hover{
    background-color: green;
    font-size: 35px;
}

.error{
    background-color: red;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px;
    transition: background-color 0.5s;
}

.error:hover{
    font-size: 35px;
    background-color: red;
}

#success{
    text-align: center;
    display: none;
    margin-top: 10px;
    font-size: 2em;
}

#resultat{
    text-align: center;
    font-size: 2em;
}

#suivant{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#suivant button, #lien {
    margin: 0 auto;
}

/*ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

}

/*iphoneX +*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape){

}

/*iphone 6/7/8 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape){

}

/*samsung*/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){

}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape){

}